In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("gym.csv")

In [4]:
df.rename(columns = {'Unnamed: 0':'userid'}, inplace = True)
df

,userid,name,password,length in cm,first weight in kg,first BMI,subscription,current weight in kg,current BMI,weight change,bmi change
0,2672,Ville,Jallu,177.0,72.0,22.981902,deactive,70.0,22.343516,-2.0,-0.638386
1,526,Kalle,Kala,180.0,85.0,26.234568,active,75.0,23.148148,-10.0,-3.086420